<div class="light-bg box-height">
    <mat-card class="" style="margin: 0 auto;width: 30%;">
        <form [formGroup]="signupForm" (ngSubmit)="submitHandler()" class="bg-white p-5" style="margin-top: 18%;">
            <p class="h5">Register</p>
            <input
                [nzStatus]="(signupForm.controls['first_name'].invalid && (signupForm.controls['first_name'].touched || clickedOnSubmit)) ? 'error':''"
                autofocus nz-input placeholder="First Name" class="w-100 my-2 py-1" formControlName="first_name" />
            <br>
            <input
                [nzStatus]="(signupForm.controls['last_name'].invalid && (signupForm.controls['last_name'].touched || clickedOnSubmit)) ? 'error':''"
                nz-input placeholder="Last Name" class="w-100 my-2 py-1" formControlName="last_name" />
            <br>
            <input
                [nzStatus]="(signupForm.controls['username'].invalid && (signupForm.controls['username'].touched || clickedOnSubmit)) ? 'error':''"
                nz-input placeholder="Username" class="w-100 my-2 py-1" formControlName="username" />
            <br>
            <nz-input-group class="w-100 my-2 py-1" [nzSuffix]="suffixTemplate"
                [nzStatus]="(signupForm.controls['password'].invalid && (signupForm.controls['password'].touched || clickedOnSubmit)) ? 'error':''">
                <input [type]="passwordVisible ? 'text' : 'password'" nz-input placeholder="Password"
                    formControlName="password" />
            </nz-input-group>
            <ng-template #suffixTemplate>
                <span nz-icon style="cursor: pointer;" [nzType]="passwordVisible ? 'eye-invisible' : 'eye'"
                    (click)="passwordVisible = !passwordVisible"></span>
            </ng-template>
            <br>
            <button class="btn btn-primary btn-block my-2 d-flex align-items-center justify-content-center"
                type="submit">Register</button>
            <div class="my-3 row">
                <div class="col-9"></div>
                <div class="col-3">
                    <a class="link-primary" routerLink="/login">Login</a>
                </div>
            </div>
        </form>
    </mat-card>
</div>
