<div class="light-bg py-5 full-page">
    <div class="container py-5">
        <div class="row my-5">
            <div class="col-md-5 col-12 py-5">
                <p class="h2">IBook</p>
                <p class="py-3">
                    IBook makes writing and organizing documents easy, with tools for editing, previewing, and sharing.
                    And it supports teamwork by allowing collaboration on shared documents.
                </p>
                <p class="py-1">
                    Double-Click on any word to find its definitions easily in a side panel.
                </p>
                <button
                    class="btn-info btn-large py-2 rounded btn-block d-flex align-items-center justify-content-center"
                    (click)="getStartedHandler()">Get Started</button>
            </div>
            <div class="col-md-7 col-12">
                <img class="img-fluid rounded" src="/assets/app-shot.png" />
            </div>
        </div>
    </div>
</div>
